$black: rgb(30, 32, 32) !important;
$dark-grey: rgb(40, 42, 42) !important;
$mid-grey: rgb(50, 52, 52) !important;
$light-grey: rgb(60, 62, 62) !important;
$dark-text: rgba(0, 0, 0, 0.9) !important;
$light-text: rgba(250, 250, 250, 0.9) !important;
$white: white !important;

$tiffany-blue: #5cb6c1;
$verdigris: #44a1a0;
$teal: #247b7b;
$caribbean-current: #0d5c63;
$coral: #ff8552;
$coral-light: #fb9a72;

// Background colors
$primary-light: $verdigris !important;
$primary-dark: $teal !important;

// Buttons and link elements
$primary-action-light: $tiffany-blue !important;
$primary-action-dark: $caribbean-current !important;
$accent-action-dark: $coral !important;
$accent-action-light: $coral-light !important;
