@use "colors" as c;

@mixin dark-scrollbar() {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: c.$mid-grey !important;
    border-color: c.$mid-grey !important;
    border-radius: 10px;
    box-shadow: none !important;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent !important;
  }
}