@use "styles/colors" as c;

$transition: background-color 200ms ease-in;

// Set background colors
html.dm-ext-active body.dm-ext-active {
  background-color: c.$dark;
  color: c.$light-text;


  * {
    outline: none !important;
    background-color: c.$dark;
    color: c.$light-text;
    border-color: c.$light-text;
  }

  .dm-ext-colored-background {
    background-color: c.$primary-dark;
    color: c.$light-text;
  }

  a {
    border-color: c.$primary-light;
    color: c.$primary-light;
    box-shadow: none !important;
  }


  a:hover,
  a:focus {
    border-color: c.$primary-action-light;
    color: c.$primary-action-light;
  }
  a:active,
  a:visited {
    border-color: c.$accent-action-light;
    color: c.$accent-action-light;
  }

  input {
    border-color: c.$primary-light;
    color: c.$light-text;
    box-shadow: none !important;
  }
  button,
  [role="button"] {
    border-color: c.$primary-light;
    color: c.$light-text;
    box-shadow: none !important;
  }

  button.dm-ext-colored-background,
  [role="button"].dm-ext-colored-background,
  a.dm-ext-colored-background {
    background-color: c.$primary-light;
    color: c.$dark-text;
  }

  button:hover,
  button:focus,
  button:active {
    border-color: c.$primary-action-light;
  }

  button.dm-ext-colored-background:hover,
  button.dm-ext-colored-background:focus,
  button.dm-ext-colored-background:active,
  [role="button"].dm-ext-colored-background:hover,
  [role="button"].dm-ext-colored-background:focus,
  [role="button"].dm-ext-colored-background:active,
  a.dm-ext-colored-background:hover,
  a.dm-ext-colored-background:focus,
  a.dm-ext-colored-background:active {
    background-color: c.$primary-action-light;
  }

  input:hover,
  input:focus,
  input:active {
    border-color: c.$primary-action-light;
  }
}

